{% extends "sc_base.html" %}

{% block title %}
<title>Request Credentials</title>
{% endblock %}

{% block script %}
	
	function page_load() {
	{% autoescape off %}
	{% endautoescape %}
	}	
	
	function form_send() {
	{% autoescape off %}
		post("{% url 'request_credentials' %}");
		
	{% endautoescape %}
	}
	
	function post(path, params, method) {
		method = method || "post"; // Set method to post by default if not specified.

		var form = document.getElementById("form1");
		form.setAttribute("method", method);
		form.setAttribute("action", path);

		for(var key in params) {
			if(params.hasOwnProperty(key)) {
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", key);
				hiddenField.setAttribute("value", params[key]);

				form.appendChild(hiddenField);
			 }
		}

		document.body.appendChild(form);
		form.submit();
	};
	

	
	//window.onload=page_load;

{% endblock %}

{% block content %}
 
{% load staticfiles %}
	<div id = "base">
	<div id = "options">
	</div>
    <div id="form">
    <form id = "form1" onsubmit = "return form_send();" >
		{% csrf_token %}
		Email: 
		<input type="email" name="email_id" >
		Name: 
		<input type="text" name="name">
        <button type="submit">Send</button>
    </form>
    </div>
	</div>
 
{% endblock %}