{% extends "sc_base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block script %}


{% endblock %}

{% block content %}
 
{% load staticfiles %}
	<div id = "base">
	<div id = "options">
	<h2> {{user}} </h2>
	<ul class = "opt">
		<li><a href="{% url 'sc_create_contract' %}">Create Contract</a></li>
		<li><a href="{% url 'sc_access_contract' %}">Access Contract</a></li>
		<li>Your contracts: </li>
		{% if contracts_c %}
			{% if contracts_c.count > 0 or contract_a.count > 0 %}
				<ul class = "contracts" >
				{% if contracts_c.count > 0 %}
					<li> Contracts waiting approval: </li>
					<ul class = "contracts_c">
						{% for contract in contracts_c %}
							<li>Contract ID: {{ contract.f_trans_id }} - {% if contract.f_creator == user_id %} Awaiting partner's approval {% else %}  Awaiting your approval {% endif %} </li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if contracts_a.count > 0 %}
					<li> Active contracts: </li>
					<ul class = "contracts_a">
						{% for contract in contracts_a %}
							<li>Contract ID: {{ contract.f_trans_id }} </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% else %}
			  <p>No contracts yet.</p>
			{% endif %} 
		{% else %}
		  <p>No contracts yet</p>
		{% endif %} 
	</ul>
	</div>
    <div id="form">
    </div>
	</div>
 
{% endblock %}